<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Resume</h2>
      <p>
        I am a Full Stack Python Django Web Developer.I've been working here
        since 2 years.
      </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Purusottam Adhikari</h4>
          <p>
            <em
              >Innovative development with 2+ years of experience designing and
              developing different projects.</em
            >
          </p>
          <ul>
            <li>Dang,Nepal</li>
            <li>+9779810867824</li>
            <li>purusottamadhikari234@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>
            Bachelor in science in Computer Science and Information Technology
          </h4>
          <h5>2015 - 2020</h5>
          <p><em>Tribhuvan University,Nepal</em></p>
          <p><em>Ambikeshwari Campus,Nepal</em></p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Django Developer</h4>
          <h5>2019 - Present</h5>
          <p><em>Kathmandu , Nepal </em></p>
          <ul>
            <li>
              Lead in the design, development, and implementation of the web
              development, layout, and production communication materials
            </li>
            <li>
              Delegate tasks to the 7 members of the design team and provide
              counsel on all aspects of the project.
            </li>
            <li>
              Supervise the assessment of all materials in order to ensure
              quality and accuracy of the development
            </li>
            <li>
              Oversee the efficient use of production project budgets ranging
              from $2,000 - $25,000
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Development specialist</h4>
          <h5>2019 - 2020</h5>
          <p><em>Kathmandu,Nepal</em></p>
          <ul>
            <li>Developed numerous project.</li>
            <li>
              Managed up to 5 projects or tasks at a given time while under
              pressure
            </li>
            <li>
              Recommended and consulted with clients on the most appropriate
              developmemt
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
