{% include 'portfolio/base.html' %}
{% load static %}
<section id="testimonials" class="testimonials section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Testimonials</h2>
            <p>Here are our best Testimonials</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item" data-aos="fade-up">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Awesome time with you in that bootcamp
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Harry</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fast and efficient work
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Developer</h4>
            </div>

            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Awesome experience in webdevelopment
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
            </div>
        </div>

    </div>
</section>